@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 35.625em) {
      @content;
    }
  } //570px

  @if $breakpoint == tab-small {
    @media only screen and (max-width: 48.125em) {
      @content;
    }
  } //770px

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  } //900px

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 72em) {
      @content;
    }
  } //1150px

  @if $breakpoint == notebook {
    @media only screen and (max-width: 80em) {
      @content;
    }
  } //1280px

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } //1800px
}

@mixin arrows {
  transform: translateY(-100%);
  display: block !important;
  margin: 0 !important;
  padding: 2rem !important;
  border-radius: $default-border-radius;
  background-color: $color-secondary !important;

  & span {
    display: block;
    padding: 1.2rem;
    padding-top: 0 !important;
  }
}
