.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    font-size: $default-font-size;
    font-weight: 700;

    padding: 1.5rem 4rem;
    border-radius: $default-border-radius;

    display: inline-block;
    transition: all 0.2s;

    border: none;
    cursor: pointer;
    background-color: $color-secondary;
    color: $color-primary;

    box-shadow: $shadow-small;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: $shadow-hover;
    background-color: darken($color-secondary, 5%);
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: $shadow-click;
  }

  &--form {
    width: 14rem;
    font-family: inherit;
    padding: 1.6rem;

    @include respond(tab-land) {
      width: 10rem;
    }

    &,
    &:link,
    &:visited {
      box-shadow: none;
    }

    &:hover,
    &:active,
    &:focus {
      transform: translateY(0);
      box-shadow: none;
    }

    &-cursos {
      width: 100%;
    }
  }

  &--buy {
    &,
    &:link,
    &:visited {
      box-shadow: none;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      width: auto;
      display: flex;
      gap: 0.5rem;
      align-items: center;

      @include respond(tab-land) {
        font-size: 1.3rem;
      }

      @include respond(tab-port) {
        font-size: 1.5rem;
      }
    }

    &-corporativo:link,
    &-corporativo:visited {
      font-size: 1.3rem;
    }

    &:hover,
    &:active,
    &:focus {
      transform: translateY(0);
      box-shadow: none;
    }
  }

  &--cursos,
  &--full {
    &,
    &:link,
    &:visited {
      background-color: $color-primary;
      color: $color-grey-light-1;

      @include respond(tab-small) {
        margin-bottom: 2rem !important;
      }

      @include respond(phone) {
        margin-right: 1rem !important;
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $color-primary-dark;
    }
  }

  &--full {
    &,
    &:link,
    &:visited {
      background-color: $color-primary-dark;
      color: $color-secondary-light;

      @include respond(tab-land) {
        padding: 1.5rem 2rem;
      }
    }
  }

  &--outline {
    &,
    &:link,
    &:visited {
      box-shadow: inset 0 0 0 3px $color-primary-light;
      background-color: transparent;
      color: $color-primary-light;

      @include respond(tab-land) {
        padding: 1.5rem 2rem;
      }
    }

    &:hover,
    &:active,
    &:focus {
      transform: translateY(0);
      color: $color-primary-dark;
      background-color: $color-primary-light;
    }
  }

  &--top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $color-primary;
    color: white;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    border-radius: $default-border-radius;

    &-icon {
      font-size: 2.4rem;
    }
  }

  &--eja {
    @include respond(phone) {
      text-align: center;
    }
  }

  &--cookies {
    padding: 1rem 2rem;
    width: auto;
  }
}
