.u-margin-right {
  margin-right: 2rem !important;
}

.u-margin-top-negative {
  margin-top: -6rem !important;
}

.u-margin-top-negative-medium {
  margin-top: -4rem !important;
}

.u-padding-bottom-none {
  padding-bottom: 0 !important;
}

.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-margin-top-small {
  margin-top: 1rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-center-text {
  text-align: center !important;
}

.u-text-color-grey-light {
  color: $color-grey-light-1 !important;
}

.u-text-color-primary-light {
  color: $color-primary-light !important;
}

.u-text-color-secondary {
  color: $color-secondary !important;
}

.u-text-color-secondary-light {
  color: $color-secondary-light !important;
}
